/* Container */
.register-container {
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(135deg, #7ea7e1, #a9c3f5, #ffffff);
}

/* Card */
.register-card {
  width: 320px;
  padding: 25px;
  border-radius: 12px;

  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(8px);

  text-align: center;

  box-shadow: 0 10px 25px rgba(0,0,0,0.2);

  /* Animation */
  animation: fadeSlide 0.8s ease;
}

/* Heading */
.register-card h2 {
  margin-bottom: 15px;
  color: #7ea7e1;
}

/* Inputs */
.register-card input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;

  border: 1px solid #ccc;
  border-radius: 6px;

  transition: 0.3s;
}

/* Input focus */
.register-card input:focus {
  border-color: #7ea7e1;
  box-shadow: 0 0 6px #7ea7e1;
  outline: none;

  transform: scale(1.02);
}

/* Button */
.register-card button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;

  border: none;
  border-radius: 6px;

  background: #7ea7e1;
  color: white;
  font-size: 16px;

  cursor: pointer;
  transition: 0.3s;
}

/* Button hover */
.register-card button:hover {
  background: #5f8fd6;
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

/* Animation */
@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }

}
.select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;

  border: 1px solid #ccc;
  border-radius: 6px;

  transition: 0.3s;
} 
.select:focus {
  border-color: #7ea7e1;
  box-shadow: 0 0 6px #7ea7e1;
  outline: none;

  transform: scale(1.02);
}
